@model IEnumerable<University.Models.EntityModels.Semester>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="bg-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SemesterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SemesterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SemesterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
